//- https://projectsoft-studionions.github.io/radioApp-lite/
article.news-container-item
	h4.title
		a(href="https://" + repo + "/" + val.repo + "/")= val.title
	p.date.text-right
		a(href="https://github.com/" + userName + "/" + val.repo + "/releases/latest" target="_blank")
			img(src="https://img.shields.io/github/v/release/" + userName + "/" + val.repo + "?style=for-the-badge&color=%23007ec6&" alt="Github Latest " + val.repo + "")
		a(href="https://github.com/" + userName + "/" + val.repo + "/" target="_blank")
			img(src="https://img.shields.io/github/repo-size/" + userName + "/" + val.repo + ".svg?style=for-the-badge&color=%23007ec6" alt="Github Repo " + val.repo + "")
	.news-container-item-description
		p.photo
			a(href="https://projectsoft-studionions.github.io/" + val.repo + "/")
				img(src="https://" + repo + "/images/" + val.image + "" alt=val.title)
		p.text
			span.text-wrapper= val.description
			a.btn.more(href="https://" + repo + "/" + val.repo + "/") Подробнее