//- https://projectsoft-studionions.github.io/radioApp-lite/
article.news-container-item
	h4.title
		a(href="https://projectsoft-studionions.github.io/radioApp-lite/") Your Radio Light | Ваше Радио (облегчённая версия)
	p.data.text-right
		a(href="https://github.com/ProjectSoft-STUDIONIONS/radioApp-lite/releases/latest" target="_blank")
			img(src="https://img.shields.io/github/v/release/" + userRepo + "/" + repo + "?style=for-the-badge&color=%23007ec6&" alt="Github Latest radioApp-lite")
		a(href="https://github.com/ProjectSoft-STUDIONIONS/radioApp-lite/" target="_blank")
			img(src="https://img.shields.io/github/repo-size/" + userRepo + "/" + repo + "?style=for-the-badge&color=%23007ec6" alt="Github Repo radioApp-lite")
	.news-container-item-description
		p.photo
			a(href="https://projectsoft-studionions.github.io/radioApp-lite/")
				img(src="https://" + repo + "/images/radio-light.thumb.screen.png" alt="Your Radio Light | Ваше Радио (облегчённая версия)")
		p.text
			span.text-wrapper В этом приложении пользователь будет сам управлять списком радиостанций, добавление, редактирование, удаление, экспорт списка со всеми надстройками и, соответственно, импорт. В приложении реализовано чтение метатегов воспроизводимого потока. Так, если радиостанция передаёт в потоке называние песни и исполнителя, то оно отобразится в заголовке окна и во всплывающем окне.
			a.btn.more(href="https://projectsoft-studionions.github.io/radioApp-lite/") Подробнее